* {
  font-size: 100%;
  font-family: Arial, Verdana, sans-serif;
 }

 h1 {
  font-size: 2em;
 }

 p#balance {
  font-size: 2.5em;
 }

.some-page-wrapper {
    margin: 15px;
    border: 1px solid red;
    
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.left-row {
    background-color: #0096FF;
    height: 100px;
    padding: 30px;
}

#display {
  border-collapse: collapse;
  width: 100%;
}

#display th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#display td, #display th {
  border: 1px solid #ddd;
  padding: 8px;
}

#display tr:nth-child(even){background-color: #f2f2f2;}

#display tr:hover {background-color: #ddd;}