.some-page-wrapper {
    margin: 15px;
    border: 2px solid red;
    
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.left-row {
    background-color: #0096FF;
    height: 100px;
}